# logging
OTEL_EXPORTER_OTLP_ENDPOINT="<otel_endpoint>"
OTEL_EXPORTER_OTLP_HEADERS="Authorization=ApiKey <apikey>"
OTEL_SERVICE_NAME="<service_name>"

# database
DB_CONNECTION="Server=localhost,14333;Database=AppDb;User ID=sa;Password=LocalDev123!;Encrypt=False;TrustServerCertificate=True;"

# email notifications
Email__Host="<smtp_host>"
Email__Port="587"
Email__UseSsl="true"
Email__Username="<smtp_username>"
Email__Password="<smtp_password>"
Email__FromEmail="no-reply@example.test"
Email__FromName="<app_display_name>"
Email__BaseUrl="http://localhost:5173"
Email__ReplyToEmail=""
Email__BccEmail=""
